<!-- Sidebar include -->
<div class="template-sidebar">

    <div class="sidebar-container">

        {{widget('extendednavigation', 'navigation', {"align":"left"})|raw}}

        <div class="sidebar-ecom-search">
            <div class="sidebar-search-icon">
                icon
            </div>
            {{widget('ecomproductslist', 'productlist', {})|raw}}
        </div>
        <!-- End sidebar-ecom-search -->

        <div class="sidebar-basket">
            <div class="sidebar-basket-icon">
                basket icon
            </div>
            {{widget('ecombasket', 'shopbasket', {})|raw}}
        </div>
        <!-- End sidebar-basket -->

    </div>
    <!-- End sidebar-container -->

</div>
<!-- End template-sidebar -->
